
#graphicYOY{
	background-image: url("../img/generales/fondo_1620.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-color: rgb(77,119, 142);
	height: 0vh;
}

#arrowYOY{
	text-align: center;
	width: 2.5vh;
	margin-left: 48vw;
	margin-top: 1vh;
}

#headerYOY{
	background-color: rgb(31,70,79);	
	height: 4vh;
}

.containerYOY{
	position: fixed;
	left: 0vw;
	bottom: 0vh;
	width: 100vw;
}

.nameFilter{
	display: inline-block;
	width: 24%;
	text-align: center;
	background-color: rgba(31,70,79,1);
	background: linear-gradient(to right, rgba(31,83,88,1), rgba(31,70,79,1) );
	border-right: 2px solid rgb(23,58,64);
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 4vw;
	cursor: pointer;
}
.nameFilter:active{
	text-shadow: 0px 0px 5px white;
}

#containerFilters{
	margin-top: 3vh;
	width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
	background-color: rgba(31,83,88,1);
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgb(23,58,64); 
	font-weight: 300;
}
#containerFilters::-webkit-scrollbar{
	display: none;
}

#myGraphics{
	width: 15vw;
	float: left;
}
#myGraphics:active{
	transform: scale(0.8);
}

.headerDashboard{
	text-align: center;
	font-size: 6vw;
	font-weight: 200;
	margin-top: 2vh;
	margin-left: 1vw;
}

#bodyDashboard{
	font-weight: 400;
}

#graphicsContainer{
	height: 70vh;
	margin-top: 5%;
}

.arrowDown{
	width: 13%;	
	display: none;
	float: right;	
	margin-right: 2vw;
	margin-top: 1vw;	
}

.lineDropDown{
	height: 1px;
	background-color: rgb(31,70,79);
	margin-top: 1px;
	margin-bottom: 1px;	
}

.itemDropDown{
	color: black;
	display: inline-block;
	font-size: 2vh;
	cursor: pointer;
}

#bgDropDown{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.0);
	display: none;
}

#dropDownList{
	position: absolute;
	width: 24%;
	height: 25%;
	overflow-y: scroll;
	background-color: rgba(255,255,255,1);
	border-radius: 3px;
	font-weight: 300;	
	padding: 2%;
}

#dropDownList::-webkit-scrollbar{
	display: none;
}

#gender2{
	width: 100%; 
}
