



#returnPortrait:active{
	transform: scale(0.8);
}

.descriptionDataQuickInfo{
	font-weight: 300;
	font-size: 3.5vw;
	margin-left: 2%;
	
}

.containerUsersPerDay{
	margin-top: 2%;
}

.dataQuickInfo{
	text-align: left;
	font-weight: 400;
	font-size: 6vw;
	margin-top: 2%;
}

#imgUserPerDay{
	width: 9%;
}

.iconsQuiqInfo{
	float: right;
	width: 11%;
	margin-right: 9%;
	margin-top: 1%;
}

.containersQuickInfo{
	text-align: left;	
	margin-left: 4vw;	
}

.labelGraphic{
	font-size: 3vw;
	font-weight: 100;
	margin-left: -0.5vw;
}

.iconLabelGraphic{
	width: 2.4vw;
	margin-left: 1vw;
}

.containerLabelsGraphic{
	margin-top: -12%;	
}

.containerGraphics{
	height: 30%;
	margin-bottom:0%;
}

#ScreensGraphic{
	width: 100%;
	height: 90%;
}

.titleGraphic{
	text-align: left;
	font-weight: 100;
	font-size: 4vw;
	margin-left: 4vw;
}

#cardsReader{	
	margin-top: 2%;
}

.titlesQuickInfo{
	font-weight: 100;
	font-size: 4vw;
}

.containerCardsReader{
	text-align: left;
	margin-left: 4vw;
}

.textDownloads{
	font-weight: 100;
	font-size: 4vw;
	display: inline;
}

.imgStoreDownloads{
	width: 12%;
	margin-left: 4vw;
}

.containerStoreDownloads{
	margin-top: 4%;
	text-align: left;	
}

.downloadsText{
	margin-left: -12vw;
}

.imgDownloads{
	width: 8%;
	float: right;
	margin-top: -6vw;
	margin-right: 10%;
}

.containerGeneralDownloads{
	margin-left: 4vw;
}

.containerDownloads{
	margin-top: 5%;
}

.spanInfo{
	font-weight: 500;
}

.quickInfo{
	font-size: 5vw;
	font-weight: 100;
	text-align: left;
	margin-left: 4vw;
}

.topFill{
	height: 3%; 
}

.containerQuickInfo{
	overflow-y: scroll;
	height: 96%	;
	
}
.containerQuickInfo::-webkit-scrollbar{
	display: none;
}

.line{	
	height: 1px;
	width: 90%;
	background-color: rgba(0,0,0,0.2);
	margin: 2%;
	margin-left: 5%;	
}

#menuLeft{
	background-image: url('../img/menu/leftMenu.png');
	background-repeat: no-repeat;
  background-size: 100% 105%;	
	position: fixed;
	overflow: scroll;
	text-align: center;	
	width: 45%;
	height: 100%;
	left: -50%;
	top: 0%;
	overflow-y: hidden;
	-webkit-animation-duration: 1s;
}
#menuLeft::-webkit-scrollbar{
	display: none;
}
@-webkit-keyframes showMenuLeft {
  0% { left: -50%; }
  100% { left: 0%; }
}
@-webkit-keyframes hiddenMenuLeft {
  0% { left: 0%; }
  100% { left: -50%; }
}

#touchLeft{
	position: fixed;
	width: 4%;
	height: 100%;	
	left: 0%;
	top: 0%;	
}

#touchRight{
	position: fixed;
	width: 4%;
	height: 100%;
	right: 0%;
	top: 0%;	
}

.btnMenu{
	position: fixed;
	right: 2%;
	top: 2%;
	width: 10%;
}

.btnLogOut{
	display: inline-block;
	width: 80%;
	font-weight: 300;
	font-size: 4vw;
	border-radius: 30px;
  border: 1px solid white;
  background-color: rgba(255,255,255,0.17);
  margin-bottom: 20%;
}
.btnLogOut:active{
  background-color: rgb(53,78,87)
}

#frame{		
	left: 0%;
	top: 0%;
	position: absolute;
	width: 100%;
	height: 100%;
}

.textMenu{
	display: block;
	margin-bottom: -10%;
}

#imgNotifications{
	width: 50%;
}

#imgAbout{
	width: 30%;
}

.iconsMenu{
	width: 65%;
}

.itemsMenu{
	padding: 10%;
	font-size: 3.8vw;
	background-color: rgba(31,70,79,1);		
	background-size: 100% 100%;
}

#menu{
	position: fixed;
	overflow: scroll;
	text-align: center;
	background-color: rgba(31,70,79,1);
	width: 30%;
	height: 100%;
	right: 0%;
	top: 0%;
	-webkit-animation-duration: 1s;
}
#menu::-webkit-scrollbar{
	display: none;
}
@-webkit-keyframes showMenu {
  0% { right: -30%; }
  100% { right: 0%; }
}
@-webkit-keyframes hiddenMenu {
  0% { right: 0%; }
  100% { right: -30%; }
}

#body_menu{	
  overflow-y: hidden;
}


