

.imgDelete{
  width: 4.5vh;
  position: absolute;
  right: 10%;
  top: 20%;
}
.imgDelete:active{
  transform: scale(0.8);
}

.imgEdit{
  width: 9vh; 
  position: absolute;
  right: 25%; 
  top: 20%;
}
.imgEdit:active{
  transform: scale(0.8);
}

.boardName{
  font-size: 3.5vh;
  font-weight: 500;
  width: 55%;
}

.boards{
  position: relative;
  margin-top: 3vh;
  border: 1px solid white;
  border-radius: 15px;
  padding: 1.5vh;
}

.containerBoards{    
  margin: 2%;
  margin-top: 10%;
}

.titleMyBoards{
  text-align: center;
  font-size: 6vh;
  margin-top: 2vh;
}
