html {
    width: 100%;
    height: 100%;
}

#body_notification {
    width: 100%;
    height: 90%;
    align-content: center;
    margin: 0%;
}

.titulos {
    width: 100%;
    text-align: center;
    font-weight: 200;
    font-size: 5vh;
    margin-top: 10%;
}

.imgContent {
    width: 90%;
    margin-left: 10%;
    margin-top: 2%;
}

#imgNotification {
    width: 10%;
}

.noticationsContent {
    width: 80%;
    height: 72%;
    overflow-y: scroll;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 15px;
}

.noticationsContent::-webkit-scrollbar {
    display: none;
    visibility: hidden;
}

.notification {
    width: 95%;
    display: none;
    background-color: rgba(178, 189, 195, 0.3);
    border-radius: 15px;
    border: 1px solid white;
    padding: 2%;
    margin: 0 auto;
    margin-bottom: 1%;
}

.headerNotification {
    width: 100%;
}

.imgEdit {
    width: 15%;
    margin-bottom: 1.5%;
}

.imgCerrar {
    width: 10%;
    margin-left: 73%;
}

.divImg {
    display: inline;
}

.divTitulo {
    width: 70%;
    text-align: center;
    margin: 0% auto;
    margin-top: -13%;
    margin-left: 17.5%;
    overflow-x: hidden;
    white-space: nowrap;
}

.tituloNotification {
    color: rgb(4, 70, 92);
    font-size: 4vh;
    font-weight: 600;
}

.bodyNotification {
    width: 100%;
    /*height: 80%;  Por verse */
    margin-top: 1%;
    text-align: center;
}

.LineContent {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    margin-top: -1.8%;
}

.divImgCenter {
    display: inline;
    /*margin: 0% auto;*/
}

.imgUbication {
    width: 4%;
}

.filterUbication {
    display: inline;
    font-size: 3vh;
    font-weight: 500;
}

#filterContent1,
#filterContent2,
#filterContent3 {
    display: none;
}

.filters {
    display: inline;
    font-size: 3.5vh;
    font-weight: 400;
    color: rgb(4, 70, 92);
}

.limits {
    display: inline;
    font-size: 3.5vh;
    font-weight: 400;
    color: white
}

.imgFlecha {
    width: 4%;
}

.limitText {
    display: inline;
    font-size: 2.2vh;
    font-weight: 400;
    color: white
}

.subLineContent {
    width: 50%;
    display: inline-block;
}

.footer {
    margin-top: 2%;
    width: 100%;
}

.imgFooterContent {
    display: inline;
    margin-left: 72%;
}

.imgFooter {
    width: 17%;
}

.imgContentMore {
    /* display: inline;*/
    margin-top: 5%;
    text-align: center;
}

.imgMore {
    width: 10%;
}

.noNotif {
    margin-top: 2%;
    text-align: center;
    font-size: 3.5vh;
    font-weight: 400;
}

.floatLogo {
    width: 70%;
    margin-top: -90%;
    margin-left: 30%;
}

.imgFloatLogo {
    width: 78%;
}

/*Add Notification*/

.bodyEmergenteAddNotification {
    display: none;
    position: absolute;
    width: 100%;
    top: 0%;
    background-image: url("../img/generales/fondo_1620.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    background-color: rgb(77, 119, 142);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: white;
    visibility: visible;
    z-index: 2;
}

.AddNotificationContent {
    width: 80%;
    margin: 0% auto;
    margin-top: 2%;
    border-radius: 7px;
    padding: 3%;
    background-color: rgba(52, 77, 86, 0.42);
    margin-bottom: 8%;
}


.tituloAddNotification {
    width: 100%;
    text-align: left;
    font-weight: 200;
    font-size: 5vh;
}

.divInputNameNotification {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
}

.labelNameNotification {
    font-size: 2.2vh;
}

.inputName:focus {
    outline: none;
}

.inputName {
    margin: 0% auto;
    color: rgb(112, 117, 120);
    margin-top: 3%;
    font-family: 'Montserrat';
    font-weight: 400;
    display: block;
    width: 96%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 3.5vh;
    border-radius: 2px;
    background-color: rgb(178, 189, 195);
    height: 5.5vh;
    box-shadow: 2px 1px 2px #2F2C2C;
    padding: 0% 2% 0% 2%;
}

input::-webkit-input-placeholder {
    color: rgb(112, 117, 120);
    font-family: 'Montserrat';
    font-weight: 200;
}

.divCheckContent {
    width: 100%;
    margin-top: 2%;
    display: inline-block;
    text-align: center;
    margin-bottom: 15%;
}

.divCheckContent label {
    text-align: center;
}

.divSubCheckContent {
    width: 32%;
    display: inline-block;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:disabled+label span{
    opacity: 0.2;
}

input[type="checkbox"]+label span {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 2.75vh;
    margin-right: 4%;
    margin-top: -4%;
    vertical-align: middle;
    background-color: rgb(178, 189, 195);
    border-radius: 5px;
    z-index: 5;
}

input[type="checkbox"]:checked+label span {
    background-color: rgb(178, 189, 195);
    background-image: url("../img/notification/check.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 80%;
    border-radius: 5px;
}

.nameCheck {
    font-size: 2.2vh;
}


#maxMinLimitTitle {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    font-size: 3.75vh;
    font-weight: 500;
}

.subTitleMinMax {
    width: 100%;
    margin-top: 2%;
    font-size: 2.2vh;
    font-weight: 500;
}

.inputMinMax {
    width: 10%;
    background: url('../img/notification/dezplegable.png') no-repeat right center;
    border: none;
    color: white;
    padding: 2%;
    font-family: 'Montserrat';
    font-size: 1.55vh;
    border-radius: 5px;
}

input[type=text]:focus {
    outline: none;
}



.rangeMinMax {
    width: 80%;
    vertical-align: middle;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    -webkit-transition: 0s;
    transition: opacity 0s;
    transition: 0s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

/* Chrome y Safari */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2.2vh;
    width: 6.5%;
    border-radius: 100%;
    background: radial-gradient(rgb(14, 95, 112), rgb(18, 63, 76), rgb(14, 33, 48));
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    margin-top: -1.6%;
}

/*Area Pista*/

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1.5vh;
    cursor: pointer;
    background-color: rgb(178, 189, 195);
    border-radius: 15px;
    border: 0.2px solid #010101;
}

.divContentBtn {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
}

.divBtn {
    background-color: rgb(255, 255, 255, 0.17);
    border: 1px solid white;
    border-radius: 10px;
    width: 48%;
    height: 5.5vh;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    font-size: 4vh;
    font-weight: 300;
    margin-top: 10%;
    display: inline-block;
}

.divBtn:active {
    opacity: 0.9;
    background-color: rgb(53, 78, 87);
}

.panelLoading{
    display: none;
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    text-align: center;
}

.panelLoading div{
    vertical-align: middle;
    margin-top: 45vh;
    font-size: 5vw;
    font-weight: 400;
}

@media only screen and (min-width: 643px) {

	html{
		width: 80%;
        margin: auto;
    }

    .divTitulo{
        margin-top: -10%;
    }

    .LineContent {
        
        margin-top: -0.5%;
    }

    .noticationsContent{
        width: 100%;
    }
  
    .bodyEmergenteAddNotification{
      width: 80%;
      margin: auto;
      
    }

    .AddNotificationContent{
        width: 90%;
       
    }
    
   
    input[type=range]::-webkit-slider-thumb {
        height: 2.8vh;
        box-shadow: 2px 2px 2px #000000, 0px 0px 1px #0d0d0d;
    }

    .panelLoading{
        right:0%;
    }
    
	

}