.containerFilters{
	width: 100%;
	overflow-x: scroll;
    white-space: nowrap;
    text-align: center;   
    height: 4.7vh;
}

.containerFilters::-webkit-scrollbar{
	display: none;
}

.filter{
    /* position: relative; */
    display: none;
    width: 47%;
    margin-left: 1%;
    margin-right: 1%;
	text-align: center;
    font-size: 4vw;
    border-radius: 3px;
    background-color: rgba(255,255,255);
    /* z-index: 5; */
    
}

.select{
    position: relative;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    border-radius: 2px;
    background-color: rgba(31,70,79,1);
	background: linear-gradient(to right, rgba(31,83,88,1), rgba(31,70,79,1) );
    white-space: nowrap;
    overflow-x: hidden;
    z-index: 5;
}

.selectAction{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.optionList{
    position: absolute;
    width: 37vw;
    background-color: white;
    height: 29vw;
    overflow-y: hidden;
    padding-left: 1vw;
    display: none;
    overflow-y: auto;
    z-index: 15;
}

.hiddenPanel{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 0%;
    display: none;
}

.showPanel{
    display: block;
}

.option{
    color: black;
    padding: 1vw;
    text-align: left;
    border-bottom: 1px solid gainsboro;
    font-weight: 300;
}

.option:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.arrowDown{
    width: 10%;	
    float: right;		
	margin-right: 2vw;
    margin-top: 0.7vw;	
    transform: rotate(180deg);
}


.show {
    display: block;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.arrowUp{
    transform: rotate(0deg);
}

@-webkit-keyframes fadeIn {
    from {
        height: 0vw;
    }
    to {
        height: 29vw;
    }
}

@keyframes fadeIn {
    from {
        height: 0vw;
    }
    to {
        height: 29vw;
    }
}

/*
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
*/



@media only screen and (min-width: 643px) {
    .optionList{
        width: 32.7vw;
    }
    .containerFilters{ 
        height: 6.2vh;
    }
    .arrowDown{	
        margin-top: 0.8vw;	
    }

    .hiddenPanel{
        right:-12%;
    }

}