#body_login {
	background-image: url("../img/generales/fondo_1620.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-color: #0f1628;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color: white;
}

#divImgUser {
	width: 100%;
	margin-top: 9%;
	text-align: center;
}

#imgUser {
	width: 46%;
}

#titulos {
	text-align: center;
	color: rgb(255, 255, 255);
}

h2 {
	font-size: 4vh;
	margin-top: 4%;
	font-family: 'Montserrat';
	font-weight: 200;
	margin: 0;
}

h1 {
	margin-top: -8%;
	font-size: 6vh;
	font-weight: 600;
	letter-spacing: 2px;
	margin-top: 1vh;
}

.formLogin {
	text-align: center;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 9%;
}

.divTextForm {
	text-align: left;
	margin-top: 2%;
}

.inputLogin:focus {
	outline: none;
}

.inputLogin {
	color: rgb(112, 117, 120);
	margin-top: 3%;
	font-family: 'Montserrat';
	font-weight: 400;
	display: block;
	width: 84%;
	border: none;
	border-bottom: 1px solid black;
	font-size: 4vh;
	border-radius: 15px;
	background-color: rgb(178, 189, 195);
	padding-left: 4%;
	padding-right: 12%;
	height: 6.5vh;
	box-shadow: 4px 2px 5px #2F2C2C;
	/*Apartado de iconos*/
	background-repeat: no-repeat;
	background-position: 95%;
	background-size: 6%;
}

input::-webkit-input-placeholder {
	color: rgb(112, 117, 120);
	font-family: 'Montserrat';
	font-weight: 200;
}

#user {
	background-image: url(../img/login/user.png);
}

#password {
	background-image: url(../img/login/password.png);
}

.divBtnLogin {
	margin-top: 5%;
	width: 100%;
}

#divLogin {
	background-color: rgb(255, 255, 255, 0.17);
	border: 1px solid white;
	border-radius: 20px;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	font-size: 4vh;
	margin-top: 20%;
}

#btnLogin {
	width: 70%;
}

#divLogin:active {
	opacity: 0.9;
	cursor: pointer;
	background-color: rgb(53, 78, 87);
}

label {
	color: rgb(255, 255, 255);
}

#forgetPassword label {
	text-decoration: underline;
	font-size: 2vh;
	font-weight: 400;
}

#forgetPassword:active label {
	opacity: 0.7;
	cursor: pointer;
}

#forgetPassword {
	margin-top: 7%;
}

#footerHoppotato {
	margin-top: 10%;
	font-size: 2vh;
}
/* Area Ipad Air 2*/
@media only screen and (min-width: 643px) {

	html{
		width: 70%;
		margin: auto;
	}

	.formLogin{
		width: 100%;
		margin: auto;
	}

	.inputLogin{
		border-radius: 25px;
	}

	#divLogin{
		border-radius: 25px;
	}

}