

#returnMenu{
	width: 8%;
	margin-right: 5%;
	margin-bottom: 2%;
	display: none;
}
.containerReturnMenu{
	width: 100%;
	text-align: right;		
}

#graphicMatches{
  margin-top: 10%;  
	margin-right: 10%;	
}